<form action="index.html" method="POST">

  <label for="map">Choose where you want to buy</label>
  <div id="map" name="map" style="width: 100%; height: 50%;"></div>

  <label for="wantAgent">Use an agent</label>
  <input id="wantAgent" name="wantAgent" type="checkbox"><br>

  <button type="submit" class="ui button">Search</button>

</form>

<script>
  var platform = new H.service.Platform({
    'app_id': 'd05pqp7kw1Dh904XgSdw',
    'app_code': 'kOQ1p3PSWQxb0m63Z5_QUg'
  });

  // Obtain the default map types from the platform object:
  var defaultLayers = platform.createDefaultLayers();

  // Instantiate(and display) a map object:
  var map = new H.Map(
    document.getElementById('map'),
    defaultLayers.normal.map,
    { zoom: 11, center: { lat: 1.36666667, lng: 103.8 } }
  );

  // map bounds so we don't fly out
  // var bounds = new H.geo.Rect(1.4784, 1.1496, 104.0945, 103.594);
  var bounds = new H.geo.Rect(1.4784, 103.594, 1.1496, 104.0945);
  map.getViewModel().addEventListener('sync', function () {
    var center = map.getCenter();
    if (!bounds.containsPoint(center)) {
      if (center.lat > bounds.getTop()) {
        center.lat = bounds.getTop();
      } else if (center.lat < bounds.getBottom()) { 
        center.lat = bounds.getBottom();
      }
      if (center.lng < bounds.getLeft()) {
        center.lng = bounds.getLeft();
      } else if (center.lng > bounds.getRight()) {
        center.lng = bounds.getRight();
      }
      map.setCenter(center);
    }
  });

  //Debug code to visualize where your restriction is
  map.addObject(new H.map.Rect(bounds,
    {
      style: {
        fillColor: 'rgba(55, 85, 170, 0.1)',
        strokeColor: 'rgba(55, 85, 170, 0.6)',
        lineWidth: 3
      }
    }
  ));

  // default behavior
  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

  // Instantiate UI to control
  var ui = H.ui.UI.createDefault(map, defaultLayers);

  console.log('supposedly done loading');

</script>