<link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<style>
    body {
        overflow: hidden;
    }

    .crop {

        height: calc(100% - 315px);
        overflow: hidden;
    }

    body>div {
        height: 100%;
    }

    .ui.middle.aligned.buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ui.dropdown .menu {
        z-index: 999999 !important;
    }

    .wrapper.row4 {
        position: absolute;
        height: 315px;
        left: 0;
        bottom: 0;
    }

    .txtoverlay {
        position: absolute;
        height: calc(100% - 315px);
        top: 0;
    }
</style>
<div class="wrapper">
    <div class="crop">
        <img src="demo/slides/banner.jpg" alt="">
    </div>
    <div class="txtoverlay">
        <div class="centralise">
            <div class="verticalwrap">
                <article style="vertical-align:top;padding-top: 10%;;">
                    <h2 class="heading uppercase" style="color:#ffffff;">Redefine Housing</h2>
                    <p><a id="buying" class="btn orange pushright" href="#" style="color:#ffffff;background-color:#2185d0">Buying</a>
                        <a id="selling" class="btn red" href="#" style="color:#ffffff;background-color:#db2828">Selling</a>
                    </p>
                </article>
            </div>
        </div>
    </div>

</div>

<div class="wrapper row4">
    <footer id="footer" class="clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
            <h6 class="title">Company Details</h6>
            <address class="btmspace-15">
                Company Name<br> Street Name &amp; Number<br> Town
                <br> Postcode/Zip
            </address>
            <ul class="nospace">
                <li class="btmspace-10"><span class="fa fa-phone"></span> +00 (123) 456 7890</li>
                <li><span class="fa fa-envelope-o"></span> info@domain.com</li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Quick Links</h6>
            <ul class="nospace linklist">
                <li><a href="#">Home Page</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">From The Blog</h6>
            <article>
                <h2 class="nospace"><a href="#">Lorem ipsum dolor</a></h2>
                <time class="smallfont" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed.</p>
            </article>
        </div>
        <div class="one_quarter">
            <h6 class="title">Keep In Touch</h6>
            <form class="btmspace-30" method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="faicon-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->

<!-- <div class="ui middle aligned buttons">
    <button id="selling" style="font-size: 3.1428571rem; background-color:lightskyblue" class="ui button">Selling</button>
    <div style="font-size: 3.1428571rem;" class="or"></div>
    <button id="buying" style="font-size: 3.1428571rem; background-color:lightgreen" class="ui button">Buying</button>
</div> -->
<div class="ui buy modal">
    <div class="header">
        What are you looking for ?
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="five wide column">

                <div class="ui selection type dropdown">
                    <input type="hidden" name="type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Housing Type</div>
                    <div class="menu">
                        <div class="item" data-value="1">Public</div>
                        <div class="item" data-value="0">Private</div>
                    </div>
                </div><br><br>
                <div class="ui bedroom selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Bedrooms</div>
                    <div class="menu">
                        <div class="item" data-value="1">1 Room</div>
                        <div class="item" data-value="2">2 Room</div>
                        <div class="item" data-value="3">3 Room</div>
                        <div class="item" data-value="4">4 Room</div>
                        <div class="item" data-value="5">5 Room</div>
                        <div class="item" data-value="6">Executive</div>
                    </div>
                </div><br><br>
                <div class="ui steps">
                    <div class="step">
                        Facilities:
                    </div>
                </div>
                <div class="item">
                    <div class="list">
                        <div class="item">
                            <div class="ui child checkbox">
                                <input type="checkbox" name="pool">
                                <label>Pool</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child checkbox">
                                <input checked type="checkbox" name="mrt">
                                <label>Train</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child checkbox">
                                <input type="checkbox" name="bus">
                                <label>Bus</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child checkbox">
                                <input checked type="checkbox" name="school">
                                <label>Schools</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child checkbox">
                                <input type="checkbox" name="gym">
                                <label>Gym</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child checkbox">
                                <input type="checkbox" name="nature">
                                <label>Nature</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="mapDiv" class="ten wide column">
                <div id="map">
                    <div id="hardcodeClickZone"></div>
                </div>
            </div>
        </div><br><br>
        <div class="ui selection budget dropdown">
            <input type="hidden" name="budget">
            <i class="dropdown icon"></i>
            <div class="default text">Budget</div>
            <div class="menu">
                <div class="item" data-value="1">below 100k</div>
                <div class="item" data-value="2">100k - 200k</div>
                <div class="item" data-value="3">200k - 300k</div>
                <div class="item" data-value="4">300k - 400k</div>
                <div class="item" data-value="5">400k - 500k</div>
                <div class="item" data-value="6">500k - 600k</div>
                <div class="item" data-value="7">600k - 700k</div>
                <div class="item" data-value="8">700k - 1m</div>
                <div class="item" data-value="9">above 1m</div>

            </div>

        </div>
        <br><br>

        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Buy
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div class="ui sell modal">
        <div class="header">
            What are you selling ?
        </div>
        <div class="content">
            <div class="ui selection type2 dropdown">
                <input type="hidden" name="type">
                <i class="dropdown icon"></i>
                <div class="default text">Housing Type</div>
                <div class="menu">
                    <div class="item" data-value="1">Public</div>
                    <div class="item" data-value="0">Private</div>
                </div>
            </div><br><br>
            <div class="ui input">
                <input class="address" type="text" placeholder="Address">
            </div>

            <div class="ui bedroom2 selection dropdown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Bedrooms</div>
                <div class="menu">
                    <div class="item" data-value="1">1 Room</div>
                    <div class="item" data-value="2">2 Room</div>
                    <div class="item" data-value="3">3 Room</div>
                    <div class="item" data-value="4">4 Room</div>
                    <div class="item" data-value="5">5 Room</div>
                    <div class="item" data-value="6">Executive</div>
                </div>
            </div><br><br>
            <div class="ui steps">
                <div class="step">
                    Facilities:
                </div>
            </div>
            <div class="item">
                <div class="list">
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="pool">
                            <label>Pool</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="mrt">
                            <label>Train</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="bus">
                            <label>Bus</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="school">
                            <label>Schools</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="gym">
                            <label>Gym</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui child checkbox">
                            <input type="checkbox" name="nature">
                            <label>Nature</label>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div class="ui selection furbished dropdown">
                <input type="hidden" name="furbished">
                <i class="dropdown icon"></i>
                <div class="default text">Finish</div>
                <div class="menu">
                    <div class="item" data-value="1">Furbished</div>
                    <div class="item" data-value="2">Partially Furbished</div>
                    <div class="item" data-value="3">Non Furbished</div>
                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button">
                Send
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<div class="ui house modal">
    <div class="content">
        <table class="ui basic table">
            <thead>
                <tr>
                    <th>Seller Name</th>
                    <th>Address</th>
                    <th>Private/Public</th>
                    <th>Details</th>
                    <th class="right aligned">Choose Flat</th>
                </tr>
            </thead>
            <tr>
                <td>Jenny Hess</td>
                <td>321 Clementi</td>
                <td>Public</td>
                <td>
                    2 room<br> Furnished
                    <br> Train
                    <br> School
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Flat</div>
                </td>
            </tr>
            <tr>
                <td>Ian Soo</td>
                <td>123 Chinatown</td>
                <td>Public</td>
                <td>
                    3 room<br> Unfurnished
                    <br> Bus
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Flat</div>
                </td>
            </tr>
            <tr>
                <td>Joshua Yap</td>
                <td>456 Bedok</td>
                <td>Private</td>
                <td>
                    5 room<br> Furnished
                    <br> Swimming Pool<br> Gym
                    <br> School
                    <br> Train
                    <br> Bus
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Flat</div>
                </td>
            </tr>
            <tr>
                <td>Angel Heck</td>
                <td>71 Enterprise</td>
                <td>Public</td>
                <td>
                    3 room<br> Furnished
                    <br> Powerful air-con
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Flat</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="ui agent modal">
    <div class="content">
        <table class="ui basic table">
            <thead>
                <tr>
                    <th>Bidding Percentage</th>
                    <th>Agent Name</th>
                    <th class="right aligned">Choose Agent</th>
                </tr>
            </thead>
            <tr>
                <td>0.87</td>
                <td>
                    <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" alt="" class="ui avatar image">
                    <div>Elliot Fu</div>
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Agent</div>
                </td>
            </tr>
            <tr>
                <td>0.89</td>
                <td>
                    <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg" alt="" class="ui avatar image">
                    <div>Jenny Hess</div>
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Agent</div>
                </td>
            </tr>
            <tr>
                <td>0.91</td>
                <td>
                    <img src="https://semantic-ui.com/images/avatar/large/steve.jpg" alt="" class="ui avatar image">
                    <div>Boh Cheh Wee</div>
                </td>
                <td class="right aligned">
                    <div class="ui button">Select Agent</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $('#housing').on('click', () => {
        $('.house.modal')
            .modal('setting', 'transition', "bounce")
            .modal({ autofocus: false })
            .modal('show')
    })
    $('#agenting').on('click', () => {
        $('.agent.modal')
            .modal('setting', 'transition', "bounce")
            .modal({ autofocus: false })
            .modal('show')
    })
    $('#selling').on('click', () => {
        $('.sell.modal')
            .modal('setting', 'transition', "bounce")
            .modal({ autofocus: false })
            .modal('show')
    })
    $('#buying').on('click', () => {
        $('.buy.modal')
            .modal('setting', 'transition', "bounce")
            .modal({ autofocus: false })
            .modal('show')

        document.querySelector('#map').style.height = $('#mapDiv').height();
        // console.log($('#map').height());
        var platform = new H.service.Platform({
            'app_id': 'd05pqp7kw1Dh904XgSdw',
            'app_code': 'kOQ1p3PSWQxb0m63Z5_QUg'
        });

        document.querySelector('#map').style.height = $('#mapDiv').height();
        // console.log($('#map').height());
        var platform = new H.service.Platform({
            'app_id': 'd05pqp7kw1Dh904XgSdw',
            'app_code': 'kOQ1p3PSWQxb0m63Z5_QUg'
        });

        // Obtain the default map types from the platform object:
        var defaultLayers = platform.createDefaultLayers();

        // Instantiate(and display) a map object:
        var map = new H.Map(
            document.getElementById('map'),
            defaultLayers.normal.map,
            { zoom: 11, center: { lat: 1.36666667, lng: 103.8 } }
        );

        // map bounds so we don't fly out
        // var bounds = new H.geo.Rect(1.4784, 1.1496, 104.0945, 103.594);
        var bounds = new H.geo.Rect(1.4784, 103.594, 1.1496, 104.0945);
        map.getViewModel().addEventListener('sync', function () {
            var center = map.getCenter();
            if (!bounds.containsPoint(center)) {
                if (center.lat > bounds.getTop()) {
                    center.lat = bounds.getTop();
                } else if (center.lat < bounds.getBottom()) {
                    center.lat = bounds.getBottom();
                }
                if (center.lng < bounds.getLeft()) {
                    center.lng = bounds.getLeft();
                } else if (center.lng > bounds.getRight()) {
                    center.lng = bounds.getRight();
                }
                map.setCenter(center);
            }
        });

        //Debug code to visualize where your restriction is
        // map.addObject(new H.map.Rect(bounds, {
        //     style: {
        //         fillColor: 'rgba(55, 85, 170, 0.1)',
        //         strokeColor: 'rgba(55, 85, 170, 0.6)',
        //         lineWidth: 3
        //     }
        // }));

        // default behavior
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Instantiate UI to control
        var ui = H.ui.UI.createDefault(map, defaultLayers);

        // Add map click listener
        map.addEventListener('tap', function (evt) {
            var coord = map.screenToGeo(evt.currentPointer.viewportX,
                evt.currentPointer.viewportY);
            map.addObject(new H.map.Circle(
                // The central point of the circle
                { lat: coord.lat, lng: coord.lng },
                // The radius of the circle in meters
                1000,
                {
                    style: {
                        strokeColor: 'rgba(55, 85, 170, 1)', // Color of the perimeter
                        lineWidth: 2,
                        fillColor: 'rgba(0, 0, 0, 0.0)'  // Color of the circle
                    }
                }
            ));
        })

        console.log('supposedly done loading');
    });

    $('.ui.dropdown').dropdown();

    $('.bedroom').dropdown('set selected', "2");
    $('.budget').dropdown('set selected', "3");
    $('.furbished').dropdown('set selected', "1");
    $('.type').dropdown('set selected', "1");

    $('.bedroom2').dropdown('set selected', "2");
    $('.furbished2').dropdown('set selected', "1");
    $('.type2').dropdown('set selected', "1");
    $('.address').val("321 Clementi rd, #01-23");
    var counter = 0;
    $(window).focus(function () {
        counter++
        console.log(counter);
    });

</script>
<script>
    var counter = 0;
    $(window).focus(function () {
        counter++;
        console.log(counter);
        if (counter == 1) {
            $.uiAlert({
                textHead: 'Agent FOUND!!', // header
                text: 'We have found you an agent<div><a id="agenting" class="ui green button">View Now</a></div>', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-center',// position . top And bottom ||  left / center / right
                icon: 'checkmark box', // icon in semantic-UI
                time: 10, // time
            })
        }
    });
    var counter = 0;
    $(window).focus(function () {
        counter++;
        console.log(counter);
        if (counter == 1) {
            $.uiAlert({
                textHead: 'Agent FOUND!!', // header
                text: 'We have found you an agent<div><a id="agenting" class="ui green button">View Now</a></div>', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-center',// position . top And bottom ||  left / center / right
                icon: 'checkmark box', // icon in semantic-UI
                time: 3, // time
            })
        } else if (counter == 2) {
            $.uiAlert({
                textHead: 'Agent Jack will contact you.', // header
                text: 'Thank you for choosing HomeSG. Hope you have<br> an enjoying experience with us.', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-right',// position . top And bottom ||  left / center / right
                icon: '', // icon in semantic-UI
                time: 3, // time
            })
        } else if (counter == 3) {
            $.uiAlert({
                textHead: 'Agent Jack reply.', // header
                text: 'Jack quoted 200k for your house!<div><a id="housing" class="ui green button">Accept</a><a class="ui orange button">Modify</a></div>', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-right',// position . top And bottom ||  left / center / right
                icon: '', // icon in semantic-UI
                time: 3, // time
            })
        }
    });
</script>