<style>
    .ui.visible.sidebar.inverted.vertical.menu {
        min-width: 300px;
        float: left;
    }

    .ui.header {
        position: relative;
        width: 100%;
        height: 50px;
        color: #FFFFFF;
    }

    .ui.header .icon {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-55%);
    }

    .ui.header .content {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-20%, -50%);
    }

    .ui.header.active {
        background-color: gray;
    }

    .ui.cards {
        width: calc(100% - 300px);
        float: right;
        padding: 15px;
    }
</style>

<div class="ui visible sidebar inverted vertical menu">
    <h2 class="ui header">Admin Dashboard</h2>

    <h3 class="ui header active">
        <i class="home icon"></i>
        <div class="content">
            Home
        </div>
    </h3>

    <h3 class="ui header">
        <i class="User icon"></i>
        <div class="content" onclick="modalquote()">
            Quote
        </div>
    </h3>

    <h3 class="ui header">
        <i class="money icon"></i>
        <div class="content">
            Selling
        </div>
    </h3>

    <h3 class="ui header">
        <i class="suitcase icon"></i>
        <div class="content">
            Closed Deals
        </div>
    </h3>
</div>




<div class="ui cards">
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Buying
            </div>
            <div class="description">
                Public <br /> 5 room <br /> 500k - 600k <br /> Fully furished <br /> School, Train <br />
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Remove</div>
            </div>
        </div>
    </div
    <div class="card" id="card-1">
        <div class="content">
            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
            <div class="header">
                Jenny Hess
            </div>
            <div class="meta">
                Selling
            </div>
            <div class="description">
                Public <br /> 2 room <br />
                
                <!--300k - 400k <br /> -->
                Furnished <br /> Train, School <br />
                <label id="price"></label>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui mainbutton basic green button" ng-click="launchModal()">Bid</div>
                <div class="ui mainbutton basic red button">Remove</div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="ui modal bid">
        <i class="close icon"></i>
        <div class="header">
            Select your commission earned after successful deal
        </div>
        <div class="content">
            <div class="description">
                <div class="ui range" id="range-2"></div>
                <br>
                <div class="ui input">
                    <input type="text" id="input-2" readonly>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel Bid
            </div>
            <div class="ui positive right labeled icon button">
                Bid
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="ui modal quote">
    <i class="close icon"></i>
    <div class="content">
        Those needing a Quote for their flat<br><br>
        <button onclick="" class="ui button">Samuel</button>
        <button onclick="" class="ui button">Ian</button>
        <button onclick="" class="ui button">John</button>
        <button onclick="modalinputequote()" class="ui button">Jenny Hess</button>
    </div>
</div>

<div class="ui modal inputquote">
    <i class="close icon"></i>
    <div class="content">
        <input type="text" class="ui input" value="200k">
        <button class="ui button" onclick="$('.ui.modal.inputquote').modal('hide')">done</button>
    </div>

</div>

<div class="ui modal contact">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="https://pbs.twimg.com/profile_images/2201111086/tumblr_m2w5tnohE31r46g7vo1_500_400x400.jpg">
        </div>
        <div class="description">
            <div class="ui header">Congrats on your new client ! Keep up the hustle !</div>
            <p>Name: Jenny Hess</p>
            <p>Number: 91929394</p>
            <p>E-mail: Jenny@yahoo.com.sg</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Noted
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<script>
    var counter = 0;
    $(window).focus(function () {
        counter++
        console.log(counter);
        if (counter == 1) {
            $.uiAlert({
                textHead: 'New Client !!', // header
                text: 'Someone is looking to sell', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-center',// position . top And bottom ||  left / center / right
                icon: 'checkmark box', // icon in semantic-UI
                time: 3, // time
            })
        }
        if (counter == 2) {
            $.uiAlert({
                textHead: 'Successful Bid !!', // header
                text: '<a onclick="modalcontact()">Someone picked you to be their client, click to view detail</a>', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-center',// position . top And bottom ||  left / center / right
                icon: 'checkmark box', // icon in semantic-UI
                time: 3, // time
            })
        }
        if(counter==3){
            $('#price').text("200k")
        }
    });
    function modalcontact() {
        $('.ui.modal.contact')
            .modal('show')
            ;
    }
    function modalquote() {
        $('.ui.modal.quote')
            .modal('show')
            ;
    }

    function modalinputequote() {
        $('.ui.modal.inputquote')
            .modal('show')
            ;
    }
    $('#btnsuccessCenter').click(function () {
        $.uiAlert({
            textHead: 'New Client !!', // header
            text: 'Someone is looking to sell', // Text
            bgcolor: '#19c3aa', // background-color
            textcolor: '#fff', // color
            position: 'top-center',// position . top And bottom ||  left / center / right
            icon: 'checkmark box', // icon in semantic-UI
            time: 1, // time
        })
    });
    

</script>













<style>
    /*!
 * # Range slider for Semantic UI.
 * 
 */

    .ui.range {
        width: 100%;
        height: 20px;
    }

    .ui.range .inner {
        margin: 0 10px 0 10px;
        height: 20px;
        position: relative;
    }

    .ui.range .inner:hover {
        cursor: pointer;
    }

    .ui.range .inner .track {
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        top: 9px;
        left: 0;
        background-color: rgba(0, 0, 0, .05);
    }

    .ui.inverted.range .inner .track {
        background-color: rgba(255, 255, 255, .08);
    }

    .ui.range .inner .track-fill {
        position: absolute;
        width: 0;
        height: 4px;
        border-radius: 4px;
        top: 9px;
        left: 0;
        background-color: #1b1c1d;
    }

    .ui.inverted.range .inner .track-fill {
        background-color: #545454;
    }

    .ui.range .inner .thumb {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
        background: #fff -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
        background: #fff -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
        background: #fff -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
        border-radius: 100%;
        box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15) inset;
    }
    /*--------------
     Colors
---------------*/
    /* Red */

    .ui.red.range .inner .track-fill {
        background-color: #DB2828;
    }

    .ui.red.inverted.range .inner .track-fill {
        background-color: #FF695E;
    }
    /* Orange */

    .ui.orange.range .inner .track-fill {
        background-color: #F2711C;
    }

    .ui.orange.inverted.range .inner .track-fill {
        background-color: #FF851B;
    }
    /* Yellow */

    .ui.yellow.range .inner .track-fill {
        background-color: #FBBD08;
    }

    .ui.yellow.inverted.range .inner .track-fill {
        background-color: #FFE21F;
    }
    /* Olive */

    .ui.olive.range .inner .track-fill {
        background-color: #B5CC18;
    }

    .ui.olive.inverted.range .inner .track-fill {
        background-color: #D9E778;
    }
    /* Green */

    .ui.green.range .inner .track-fill {
        background-color: #21BA45;
    }

    .ui.green.inverted.range .inner .track-fill {
        background-color: #2ECC40;
    }
    /* Teal */

    .ui.teal.range .inner .track-fill {
        background-color: #00B5AD;
    }

    .ui.teal.inverted.range .inner .track-fill {
        background-color: #6DFFFF;
    }
    /* Blue */

    .ui.blue.range .inner .track-fill {
        background-color: #2185D0;
    }

    .ui.blue.inverted.range .inner .track-fill {
        background-color: #54C8FF;
    }
    /* Violet */

    .ui.violet.range .inner .track-fill {
        background-color: #6435C9;
    }

    .ui.violet.inverted.range .inner .track-fill {
        background-color: #A291FB;
    }
    /* Purple */

    .ui.purple.range .inner .track-fill {
        background-color: #A333C8;
    }

    .ui.purple.inverted.range .inner .track-fill {
        background-color: #DC73FF;
    }
    /* Pink */

    .ui.pink.range .inner .track-fill {
        background-color: #E03997;
    }

    .ui.pink.inverted.range .inner .track-fill {
        background-color: #FF8EDF;
    }
    /* Brown */

    .ui.brown.range .inner .track-fill {
        background-color: #A5673F;
    }

    .ui.brown.inverted.range .inner .track-fill {
        background-color: #D67C1C;
    }
    /* Grey */

    .ui.grey.range .inner .track-fill {
        background-color: #767676;
    }

    .ui.grey.inverted.range .inner .track-fill {
        background-color: #DCDDDE;
    }
    /* Black */

    .ui.black.range .inner .track-fill {
        background-color: #1b1c1d;
    }

    .ui.black.inverted.range .inner .track-fill {
        background-color: #545454;
    }
    /*--------------
    Disabled
---------------*/

    .ui.range.disabled {
        opacity: .5;
    }

    .ui.range.disabled .inner:hover {
        cursor: auto;
    }

    .ui.range.disabled .inner .track-fill {
        background: #ccc;
    }
</style>
<script>
    /*!
     * # Range slider for Semantic UI.
     * 
     */

    ; (function ($, window, document, undefined) {

        "use strict";

        $.fn.range = function (parameters) {

            var
                $allModules = $(this),

                offset = 10,

                query = arguments[0],
                methodInvoked = (typeof query == 'string'),
                queryArguments = [].slice.call(arguments, 1)
                ;

            $allModules
                .each(function () {

                    var
                        settings = ($.isPlainObject(parameters))
                            ? $.extend(true, {}, $.fn.range.settings, parameters)
                            : $.extend({}, $.fn.range.settings),

                        namespace = settings.namespace,
                        min = settings.min,
                        max = settings.max,
                        step = settings.step,
                        start = settings.start,
                        input = settings.input,

                        eventNamespace = '.' + namespace,
                        moduleNamespace = 'module-' + namespace,

                        $module = $(this),

                        element = this,
                        instance = $module.data(moduleNamespace),

                        inner,
                        thumb,
                        trackLeft,
                        precision,

                        module
                        ;

                    module = {

                        initialize: function () {
                            module.instantiate();
                            module.sanitize();
                        },

                        instantiate: function () {
                            instance = module;
                            $module
                                .data(moduleNamespace, module)
                                ;
                            $(element).html("<div class='inner'><div class='track'></div><div class='track-fill'></div><div class='thumb'></div></div>");
                            inner = $(element).children('.inner')[0];
                            thumb = $(element).find('.thumb')[0];
                            trackLeft = $(element).find('.track-fill')[0];
                            // find precision of step, used in calculating the value
                            module.determinePrecision();
                            // set start location
                            module.setValuePosition(settings.start);
                            // event listeners
                            $(element).find('.track, .thumb, .inner').on('mousedown', function (event) {
                                event.stopImmediatePropagation();
                                event.preventDefault();
                                $(this).closest(".range").trigger('mousedown', event);
                            });
                            $(element).find('.track, .thumb, .inner').on('touchstart', function (event) {
                                event.stopImmediatePropagation();
                                event.preventDefault();
                                $(this).closest(".range").trigger('touchstart', event);
                            });
                            $(element).on('mousedown', function (event, originalEvent) {
                                module.rangeMousedown(event, false, originalEvent);
                            });
                            $(element).on('touchstart', function (event, originalEvent) {
                                module.rangeMousedown(event, true, originalEvent);
                            });
                        },

                        sanitize: function () {
                            if (typeof settings.min != 'number') {
                                settings.min = parseInt(settings.min) || 0;
                            }
                            if (typeof settings.max != 'number') {
                                settings.max = parseInt(settings.max) || false;
                            }
                            if (typeof settings.start != 'number') {
                                settings.start = parseInt(settings.start) || 0;
                            }
                        },

                        determinePrecision: function () {
                            var split = String(settings.step).split('.');
                            var decimalPlaces;
                            if (split.length == 2) {
                                decimalPlaces = split[1].length;
                            } else {
                                decimalPlaces = 0;
                            }
                            precision = Math.pow(10, decimalPlaces);
                        },

                        determineValue: function (startPos, endPos, currentPos) {
                            var ratio = (currentPos - startPos) / (endPos - startPos);
                            var range = settings.max - settings.min;
                            // var difference = Math.round(ratio * range / step) * step;
                            // Use precision to avoid ugly Javascript floating point rounding issues
                            // (like 35 * .01 = 0.35000000000000003)
                            // difference = Math.round(difference * precision) / precision;

                            var difference = parseFloat((ratio * range / step) * step).toFixed(2);
                            difference = parseFloat((difference * precision) / precision).toFixed(2);

                            return difference;
                        },

                        determinePosition: function (value) {
                            var ratio = (value - settings.min) / (settings.max - settings.min);
                            return Math.round(ratio * $(inner).width()) + $(trackLeft).position().left - offset;
                        },

                        setValue: function (newValue, triggeredByUser) {
                            if (typeof triggeredByUser === 'undefined') {
                                triggeredByUser = true;
                            }
                            if (settings.input) {
                                $(settings.input).val(newValue);
                            }
                            if (settings.onChange) {
                                settings.onChange(newValue, { triggeredByUser: triggeredByUser });
                            }
                        },

                        setPosition: function (value) {
                            $(thumb).css({ left: String(value) + 'px' });
                            $(trackLeft).css({ width: String(value + offset) + 'px' });
                        },

                        rangeMousedown: function (mdEvent, isTouch, originalEvent) {
                            if (!$(element).hasClass('disabled')) {
                                mdEvent.preventDefault();
                                var left = $(inner).offset().left;
                                var right = left + $(inner).width();
                                var pageX;
                                if (isTouch) {
                                    pageX = originalEvent.originalEvent.touches[0].pageX;
                                } else {
                                    pageX = (typeof mdEvent.pageX != 'undefined') ? mdEvent.pageX : originalEvent.pageX;
                                }
                                var value = module.determineValue(left, right, pageX);
                                if (pageX >= left && pageX <= right) {
                                    module.setPosition(pageX - left - offset);
                                    module.setValue(value);
                                }
                                var rangeMousemove = function (mmEvent) {
                                    mmEvent.preventDefault();
                                    if (isTouch) {
                                        pageX = mmEvent.originalEvent.touches[0].pageX;
                                    } else {
                                        pageX = mmEvent.pageX;
                                    }
                                    value = module.determineValue(left, right, pageX);
                                    if (pageX >= left && pageX <= right) {
                                        if (value >= settings.min && value <= settings.max) {
                                            module.setPosition(pageX - left - offset);
                                            module.setValue(value);
                                        }
                                    }
                                }
                                var rangeMouseup = function (muEvent) {
                                    if (isTouch) {
                                        $(document).off('touchmove', rangeMousemove);
                                        $(document).off('touchend', rangeMouseup);
                                    } else {
                                        $(document).off('mousemove', rangeMousemove);
                                        $(document).off('mouseup', rangeMouseup);
                                    }
                                }
                                if (isTouch) {
                                    $(document).on('touchmove', rangeMousemove);
                                    $(document).on('touchend', rangeMouseup);
                                }
                                else {
                                    $(document).on('mousemove', rangeMousemove);
                                    $(document).on('mouseup', rangeMouseup);
                                }
                            }
                        },

                        setValuePosition: function (val, triggeredByUser) {
                            if (typeof triggeredByUser === 'undefined') {
                                triggeredByUser = true;
                            }
                            var position = module.determinePosition(val);
                            module.setPosition(position);
                            module.setValue(val, triggeredByUser);
                        },

                        invoke: function (query) {
                            switch (query) {
                                case 'set value':
                                    if (queryArguments.length > 0) {
                                        instance.setValuePosition(queryArguments[0], false);
                                    }
                                    break;
                            }
                        },

                    };

                    if (methodInvoked) {
                        if (instance === undefined) {
                            module.initialize();
                        }
                        module.invoke(query);
                    }
                    else {
                        module.initialize();
                    }

                })
                ;

            return this;

        };

        $.fn.range.settings = {

            name: 'Range',
            namespace: 'range',

            min: 0,
            max: false,
            step: 1,
            start: 0,
            input: false,

            onChange: function (value) { },

        };


    })(jQuery, window, document);

</script>